body {
    background-color: #22212C;
    color: white;
    margin: 40px;
}

main {
    display: flex;
}

#sect-1 {
    flex-direction: column;
    width: 348px;

}

#sect-2 {
    width: 950px;
    margin-left: 40px;
}

#sect-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}




#caixa-1 {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 20px;
    text-align: center;
}

#caixa-1 h1 {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;

    color: #837E9F;
}

#caixa-1 p {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #837E9F;
}

#caixa-1 img {
    width: 128px;
    height: 128px;
}


#caixa-2 {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
    display: flex;
    padding: 10px;

}

#logos-2 {
    padding: 20px;
}

#logos-2 a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    
}

#logos-2 p {
    font-size: 20px;
    color: #837E9F;
    
}



#caixa-3 {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
    display: flex;
}

#caixa-3 h1 {
    font-size: 25px;
    color: #837E9F;
}

#title-1 h1 {
    padding-top: 10px;
    padding-left: 20px;
}

#list-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 7px;
}


#caixa-4 {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
    display: flex;
}

#title-2 {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#title-3 {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}




#list-1 button {
    text-align: center;
    align-self: center;
    width: 95px;
    background: #ff1e00;
    border-radius: 30px;
    height: 25px;
    margin-bottom: 13px;
    border: #ff1e00;
    color: white;

}



#caixa-4 {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
}

#title-2 h1 {
    color: #837E9F;
}

.las {
    list-style: none;
    color: #837E9F;
    font-size: 14px;
}

.lou {
    color: #837E9F;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#title-3 h1 {
    color: #837E9F;
}


#caixa-5 {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
}

#box-1 {

    display: flex;
    margin-bottom: 40px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

#box-1 h1 {
    color: #837E9F;
    font-size: 25px;
    font-family: 'Merriweather Sans';
}

#box-1 p {
    color: #837E9F;
    font-family: 'Merriweather Sans';
    font-size: 18px;
    
}

#subd-1 {
    padding: 25px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;

}

.alinhar {
    width: 380px;
}

#subd-1 div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#a1 {
    text-decoration: none;
    color: white;
    font-size: 20px;

}


#dv2 {
    justify-content: space-between;

}

#subd-2 {
    padding: 25px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
}

#subd-2 div {
    display: flex;
    align-items: center;
    gap: 10px;

}

#dv4 {
    justify-content: space-between;

}


#subd-3 {
    padding: 25px;

    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
}

#subd-3 div {
    display: flex;
    align-items: center;
    gap: 10px;

}

#dv6 {
    justify-content: space-between;

}

#subd-4 {
    padding: 25px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
}

#subd-4 div {
    display: flex;
    align-items: center;
    gap: 10px;

}

#dv8 {
    justify-content: space-between;

}